:root {
    --background-color: #0C0C0C;
    --text-color: #fbfbfb
}


* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: var(--background-color);
    color: var(--text-color);

    font-family: sans-serif;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}