.container {
    display: grid;
    grid-template-columns: 70vw 30vw 70vw;

    transition-duration: 300ms;

    >div {
        height: 100%;
    }
}

.container.stats {
    grid-template-columns: 0vw 30vw 70vw;
}

.container.game {
    grid-template-columns: 100vw 30vw 70vw;
}

.settButton {
    display: none;

    position: absolute;
    left: 30px;
    bottom: 20px;
    background-color: var(--sub-alt-color);
    padding: 20px;
    font-weight: 500;
    font-size: 1.1rem;
    justify-content: center;
    align-items: center;

    >span {
        font-size: 1.5rem;
    }
}

.settButton:hover {
    background-color: color-mix(in srgb, var(--sub-alt-color) 100%, white 10%);
    cursor: pointer;
}


@media screen and (width <=600px) {
    .container {
        grid-template-columns: 0vw 100vw 70vw !important;
    }

    .container.stats {
        grid-template-columns: 0vw 0vw 100vw !important;
    }

    .container.game {
        grid-template-columns: 100vw 50vw 50vw !important;
    }

    .container.stats,
    .settingsPanel {
        padding: 0px !important;
    }

    .settButton {
        display: flex;
    }

}

@media screen and (600 > width <=800px) {
    .container {
        grid-template-columns: 50vw 50vw 50vw;
    }

    .container.stats {
        grid-template-columns: 0vw 50vw 50vw !important;
    }
}



.gamePanel {
    overflow: hidden;
    display: grid;
    grid-template-rows: 10% 1fr;

    >.players {
        padding: 0px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: calc(50px + 10vw);
    }

    >.content {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

.board {
    --size: 40vw;
    --max-size: 500px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: var(--size);
    height: var(--size);

    max-width: var(--max-size);
    max-height: var(--max-size);

    >div {
        box-sizing: border-box;
        border-color: var(--sub-color);
        border-style: solid;
        border-width: var(--board-border-width);
        display: flex;
        justify-content: center;
        align-items: center;

        >span {
            /* font-size: 10vw; */
            font-size: min(10vw, 125px);
        }
    }

    >div:hover {
        border-color: var(--accent-color);
        border-width: 2px !important;
        cursor: pointer;
    }
}


.players {}

.playerName {
    background-color: var(--sub-alt-color);
    border-radius: 3px;
    padding: 15px;
    font-size: 1.2rem;
}

.playerName.focused {
    border: 2px solid var(--accent-color);
}

@media screen and (width <=800px) {
    .playerName {
        font-size: 1.1rem;
        padding: 10px;
    }

    .players {
        gap: 20px !important;
    }
}

/* settings Panel */

.settingsPanel {
    --border-radius: 30px;
    box-sizing: border-box;
    background-color: var(--sub-alt-color);
    padding: 10px;
    border-radius: var(--border-radius) 0px 0px var(--border-radius);

    overflow: hidden;
}

.container.stats>.settingsPanel {
    border-radius: 0px var(--border-radius) var(--border-radius) 0px;
}

.container.stats .statistics>div {
    border: 2px solid var(--accent-color);
}

.settingsPanel {
    display: grid;
    grid-template-rows: 10% 5fr 1fr;

    >.title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 600;
    }

    >.manage {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;


    }
}

.manage>div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;

    >div {
        background-color: var(--background-color);
        padding: 20px;
    }

    >div:hover {
        border: 2px solid var(--accent-color);
        background-color: color-mix(in srgb, var(--background-color) 100%, white 5%);
        cursor: pointer;
    }
}


.settings {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 50px;

    >.playersName {
        width: 100%;

        display: grid;
        grid-template-rows: 2fr 1fr 2fr;
        justify-content: center;
        align-items: center;
    }
}

.playersName {
    >.player {
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(2, 1fr);

    }

    >.vs {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 900;
    }
}

@media screen and (width <=950px) {
    .manage {
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(2, 1fr);
    }

    .manage>div>div {
        width: 90%;
        text-align: center;
    }

    .playersName>.player {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}

/* ^settings Panel^ */



/* statistics Panel */
.statisticsPanel {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    >.statsTable {
        padding: 10px;
        display: flex;
        flex-direction: column;
        width: 80%;
        box-sizing: border-box;


        >div {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            align-items: center;
            justify-content: center;
            padding: 10px;
            text-align: center;

            background-color: color-mix(in srgb, var(--sub-alt-color) 100%, #aaaaaa 10%);
            overflow: hidden;
        }

        >.head {
            background-color: var(--sub-alt-color);
            font-size: 1.1rem;
            font-weight: 500;
        }
    }
}


@media screen and (width <=800px) {
    .statsTable>div {
        padding: 5px !important;
        font-size: 0.7rem !important;
    }
}

.reset {
    position: absolute;
    right: 30px;
    bottom: 20px;
    background-color: var(--red-color);
    color: white;
    padding: 10px;
    font-weight: 500;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    >span {
        font-size: 1.5rem;
    }
}

.reset:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--red-color) 100%, #444444 50%);
}

/* ^statistics Panel^ */